In [1]:
import pandas as pd

In [2]:
pd.read_csv("data_raw/ems20_1st_6months_excerpt.csv")

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,201101264,2020-04-19 10:25:47,INJMIN,7,INJMIN,7,04/19/2020 10:26:24 AM,Y,37,04/19/2020 10:26:24 AM,...,40.0,8.0,201.0,7.0,15.0,N,N,N,N,chunk170.csv
1,200423766,2020-02-11 19:25:47,CARD,3,SICK,6,02/11/2020 07:25:56 PM,Y,9,02/11/2020 07:26:09 PM,...,52.0,14.0,207.0,10.0,15.0,N,N,N,N,chunk166.csv
2,200434110,2020-02-12 21:36:52,UNC,2,UNC,2,02/12/2020 09:37:24 PM,Y,32,02/12/2020 09:38:27 PM,...,106.0,32.0,410.0,27.0,8.0,N,N,N,N,chunk166.csv
3,201610121,2020-06-09 00:52:30,DRUG,4,DRUG,4,06/09/2020 12:52:44 AM,Y,14,06/09/2020 12:52:59 AM,...,19.0,4.0,108.0,2.0,12.0,N,N,N,N,chunk171.csv
4,200034112,2020-01-03 20:44:05,DRUG,4,DRUG,4,01/03/2020 08:44:11 PM,Y,6,01/03/2020 08:44:17 PM,...,66.0,39.0,312.0,15.0,7.0,N,N,N,N,chunk165.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13112,200393407,2020-02-08 19:49:33,DIFFBR,2,DIFFBR,2,02/08/2020 07:52:34 PM,Y,181,02/08/2020 07:53:00 PM,...,72.0,38.0,307.0,15.0,7.0,N,N,N,N,chunk166.csv
13113,200034618,2020-01-03 22:51:33,INJURY,5,INJURY,5,01/03/2020 10:51:39 PM,Y,6,01/03/2020 10:52:21 PM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk165.csv
13114,200424355,2020-02-11 21:51:09,SICK,6,SICK,6,02/11/2020 09:52:09 PM,Y,60,02/11/2020 09:52:18 PM,...,48.0,15.0,206.0,10.0,15.0,N,N,N,N,chunk166.csv
13115,201742708,2020-06-22 15:57:44,MVAINJ,4,MVAINJ,4,06/22/2020 03:58:07 PM,Y,23,06/22/2020 03:58:19 PM,...,62.0,47.0,311.0,21.0,11.0,N,N,N,N,chunk172.csv
13116,200865674,2020-03-26 19:33:19,DIFFFC,2,DIFFFC,2,03/26/2020 07:33:50 PM,Y,31,03/26/2020 07:34:08 PM,...,103.0,27.0,412.0,29.0,5.0,N,N,N,N,chunk168.csv

In [3]:
ems2020_excerpt_df = pd.read_csv("data_raw/ems20_1st_6months_excerpt.csv")

In [4]:
type(ems2020_excerpt_df)

pandas.core.frame.DataFrame

In [5]:
ems2020_excerpt_df.head(10)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,201101264,2020-04-19 10:25:47,INJMIN,7,INJMIN,7,04/19/2020 10:26:24 AM,Y,37,04/19/2020 10:26:24 AM,...,40.0,8.0,201.0,7.0,15.0,N,N,N,N,chunk170.csv
1,200423766,2020-02-11 19:25:47,CARD,3,SICK,6,02/11/2020 07:25:56 PM,Y,9,02/11/2020 07:26:09 PM,...,52.0,14.0,207.0,10.0,15.0,N,N,N,N,chunk166.csv
2,200434110,2020-02-12 21:36:52,UNC,2,UNC,2,02/12/2020 09:37:24 PM,Y,32,02/12/2020 09:38:27 PM,...,106.0,32.0,410.0,27.0,8.0,N,N,N,N,chunk166.csv
3,201610121,2020-06-09 00:52:30,DRUG,4,DRUG,4,06/09/2020 12:52:44 AM,Y,14,06/09/2020 12:52:59 AM,...,19.0,4.0,108.0,2.0,12.0,N,N,N,N,chunk171.csv
4,200034112,2020-01-03 20:44:05,DRUG,4,DRUG,4,01/03/2020 08:44:11 PM,Y,6,01/03/2020 08:44:17 PM,...,66.0,39.0,312.0,15.0,7.0,N,N,N,N,chunk165.csv
5,200530247,2020-02-22 01:26:18,DRUG,4,DRUG,4,02/22/2020 01:27:21 AM,Y,63,02/22/2020 01:27:41 AM,...,25.0,8.0,111.0,4.0,12.0,N,N,N,N,chunk167.csv
6,200543279,2020-02-23 19:08:27,UNC,2,UNC,2,02/23/2020 07:08:44 PM,Y,17,02/23/2020 07:09:16 PM,...,44.0,8.0,204.0,9.0,15.0,N,N,N,N,chunk167.csv
7,201471743,2020-05-26 12:45:46,INJURY,5,INJURY,5,05/26/2020 12:46:04 PM,Y,18,05/26/2020 12:46:15 PM,...,41.0,17.0,202.0,8.0,15.0,N,N,N,N,chunk171.csv
8,201180116,2020-04-27 00:57:48,EDP,7,EDPC,7,04/27/2020 12:58:07 AM,Y,19,04/27/2020 12:58:15 AM,...,50.0,11.0,208.0,10.0,16.0,N,N,N,N,chunk170.csv
9,200572739,2020-02-26 15:15:25,CARDBR,2,CARDBR,2,02/26/2020 03:16:35 PM,Y,70,02/26/2020 03:16:49 PM,...,106.0,28.0,410.0,27.0,5.0,N,N,N,N,chunk167.csv

In [6]:
ems2020_excerpt_df.tail(5)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
13112,200393407,2020-02-08 19:49:33,DIFFBR,2,DIFFBR,2,02/08/2020 07:52:34 PM,Y,181,02/08/2020 07:53:00 PM,...,72.0,38.0,307.0,15.0,7.0,N,N,N,N,chunk166.csv
13113,200034618,2020-01-03 22:51:33,INJURY,5,INJURY,5,01/03/2020 10:51:39 PM,Y,6,01/03/2020 10:52:21 PM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk165.csv
13114,200424355,2020-02-11 21:51:09,SICK,6,SICK,6,02/11/2020 09:52:09 PM,Y,60,02/11/2020 09:52:18 PM,...,48.0,15.0,206.0,10.0,15.0,N,N,N,N,chunk166.csv
13115,201742708,2020-06-22 15:57:44,MVAINJ,4,MVAINJ,4,06/22/2020 03:58:07 PM,Y,23,06/22/2020 03:58:19 PM,...,62.0,47.0,311.0,21.0,11.0,N,N,N,N,chunk172.csv
13116,200865674,2020-03-26 19:33:19,DIFFFC,2,DIFFFC,2,03/26/2020 07:33:50 PM,Y,31,03/26/2020 07:34:08 PM,...,103.0,27.0,412.0,29.0,5.0,N,N,N,N,chunk168.csv

In [7]:
ems2020_excerpt_df.sample(20)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
12247,200713270,2020-03-11 17:36:29,MVAINJ,4,MVAINJ,4,03/11/2020 05:37:09 PM,Y,40,03/11/2020 05:37:32 PM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk168.csv
7531,200042221,2020-01-04 13:55:42,CARDBR,2,CARDBR,2,01/04/2020 01:56:04 PM,Y,22,01/04/2020 01:56:17 PM,...,49.0,13.0,211.0,11.0,14.0,N,N,N,N,chunk165.csv
4016,201633333,2020-06-11 20:27:34,EDPC,7,EDPC,7,06/11/2020 08:29:09 PM,Y,95,06/11/2020 08:30:19 PM,...,110.0,21.0,404.0,24.0,14.0,N,N,N,N,chunk171.csv
3320,201790020,2020-06-27 00:04:40,UNKNOW,4,UNKNOW,4,06/27/2020 12:04:48 AM,Y,8,06/27/2020 12:05:00 AM,...,81.0,36.0,303.0,13.0,8.0,N,N,N,N,chunk172.csv
12144,201571302,2020-06-05 10:34:01,SICK,6,DIFFBR,2,06/05/2020 10:36:41 AM,Y,160,06/05/2020 10:36:45 AM,...,49.0,15.0,211.0,11.0,14.0,Y,N,N,N,chunk171.csv
1668,200613371,2020-03-01 19:17:17,DIFFBR,2,DIFFBR,2,03/01/2020 07:17:22 PM,Y,5,03/01/2020 07:17:36 PM,...,75.0,37.0,305.0,19.0,7.0,N,N,N,N,chunk167.csv
9773,201771436,2020-06-25 11:08:46,CARDBR,2,CARDBR,2,06/25/2020 11:09:00 AM,Y,14,06/25/2020 11:09:17 AM,...,102.0,29.0,409.0,28.0,6.0,N,N,N,N,chunk172.csv
12127,200640804,2020-03-04 07:32:21,SICK,6,SICK,6,03/04/2020 07:32:29 AM,Y,8,03/04/2020 07:32:50 AM,...,30.0,7.0,109.0,6.0,13.0,N,N,N,N,chunk167.csv
11355,200530779,2020-02-22 05:09:45,SICK,6,SICK,6,02/22/2020 05:09:51 AM,Y,6,02/22/2020 05:09:58 AM,...,68.0,43.0,310.0,20.0,11.0,N,N,N,N,chunk167.csv
2496,200782490,2020-03-18 14:16:56,SICMIN,7,SICK,6,03/18/2020 02:17:34 PM,Y,38,03/18/2020 02:17:43 PM,...,121.0,49.0,501.0,31.0,11.0,N,N,N,N,chunk168.csv
3222,200852131,2020-03-25 10:44:19,INJURY,5,INJURY,5,03/25/2020 10:50:06 AM,Y,347,03/25/2020 10:51:47 AM,...,104.0,30.0,405.0,24.0,6.0,N,N,N,N,chunk168.csv
272,201172029,2020-04-26 15:39:58,ARREST,1,ARREST,1,04/26/2020 03:40:18 PM,Y,20,04/26/2020 03:40:28 PM,...,19.0,5.0,108.0,2.0,12.0,N,N,N,N,chunk170.csv
94,200973083,2020-04-06 12:43:22,SICKFC,6,SICKFC,6,04/06/2020 12:59:28 PM,Y,966,04/06/2020 01:04:34 PM,...,113.0,28.0,412.0,27.0,5.0,Y,N,N,N,chunk169.csv
3202,200243877,2020-01-24 19:31:56,EDPC,7,EDPC,7,01/24/2020 07:32:12 PM,Y,16,01/24/2020 07:33:43 PM,...,47.0,12.0,212.0,11.0,16.0,N,N,N,N,chunk166.csv
4298,200260776,2020-01-26 04:54:54,MVAINJ,4,TRAUMA,2,01/26/2020 04:55:04 AM,Y,10,01/26/2020 04:55:15 AM,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,chunk166.csv
4964,200931731,2020-04-02 09:16:55,RESPIR,4,RESPIR,4,04/02/2020 09:17:23 AM,Y,28,04/02/2020 09:17:50 AM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk169.csv
7374,201280181,2020-05-07 01:17:13,SICK,6,SICK,6,05/07/2020 01:18:54 AM,Y,101,05/07/2020 01:19:14 AM,...,14.0,4.0,105.0,2.0,12.0,N,N,N,N,chunk170.csv
8219,201322570,2020-05-11 17:13:13,PD13C,3,PD13C,3,05/11/2020 05:13:22 PM,Y,9,05/11/2020 05:13:28 PM,...,110.0,21.0,404.0,24.0,14.0,N,N,N,N,chunk170.csv
9322,200830948,2020-03-23 06:53:32,RESPIR,4,RESPIR,4,03/23/2020 06:53:54 AM,Y,22,03/23/2020 06:54:06 AM,...,111.0,19.0,411.0,26.0,6.0,N,N,N,N,chunk168.csv
9159,200551967,2020-02-24 12:15:42,SICK,6,SICK,6,02/24/2020 12:15:50 PM,Y,8,02/24/2020 12:16:05 PM,...,43.0,18.0,209.0,8.0,15.0,N,N,N,N,chunk167.csv

In [8]:
ems2020_excerpt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13117 entries, 0 to 13116
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CAD_INCIDENT_ID                 13117 non-null  int64
 1   INCIDENT_DATETIME               13117 non-null  object
 2   INITIAL_CALL_TYPE               13117 non-null  object
 3   INITIAL_SEVERITY_LEVEL_CODE     13117 non-null  int64
 4   FINAL_CALL_TYPE                 13117 non-null  object
 5   FINAL_SEVERITY_LEVEL_CODE       13117 non-null  int64
 6   FIRST_ASSIGNMENT_DATETIME       13010 non-null  object
 7   VALID_DISPATCH_RSPNS_TIME_INDC  13117 non-null  object
 8   DISPATCH_RESPONSE_SECONDS_QY    13117 non-null  int64
 9   FIRST_ACTIVATION_DATETIME       12988 non-null  object
 10  FIRST_ON_SCENE_DATETIME         12533 non-null  object
 11  VALID_INCIDENT_RSPNS_TIME_INDC  13117 non-null  object
 12  INCIDENT_RESPONSE_SECONDS_QY    12533 non-null  float64
 13  INCIDENT_TRAVEL_TM_SECONDS_QY   12533 non-null  float64
 14  FIRST_TO_HOSP_DATETIME          7870 non-null   object
 15  FIRST_HOSP_ARRIVAL_DATETIME     7791 non-null   object
 16  INCIDENT_CLOSE_DATETIME         13110 non-null  object
 17  HELD_INDICATOR                  13117 non-null  object
 18  INCIDENT_DISPOSITION_CODE       12985 non-null  float64
 19  BOROUGH                         13117 non-null  object
 20  INCIDENT_DISPATCH_AREA          13117 non-null  object
 21  ZIPCODE                         12987 non-null  float64
 22  POLICEPRECINCT                  12988 non-null  float64
 23  CITYCOUNCILDISTRICT             12988 non-null  float64
 24  COMMUNITYDISTRICT               12988 non-null  float64
 25  COMMUNITYSCHOOLDISTRICT         12978 non-null  float64
 26  CONGRESSIONALDISTRICT           12988 non-null  float64
 27  REOPEN_INDICATOR                13117 non-null  object
 28  SPECIAL_EVENT_INDICATOR         13117 non-null  object
 29  STANDBY_INDICATOR               13117 non-null  object
 30  TRANSFER_INDICATOR              13117 non-null  object
 31  source                          13117 non-null  object
dtypes: float64(9), int64(4), object(19)
memory usage: 3.2+ MB

In [9]:
ems2020_excerpt_df.head(7)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,201101264,2020-04-19 10:25:47,INJMIN,7,INJMIN,7,04/19/2020 10:26:24 AM,Y,37,04/19/2020 10:26:24 AM,...,40.0,8.0,201.0,7.0,15.0,N,N,N,N,chunk170.csv
1,200423766,2020-02-11 19:25:47,CARD,3,SICK,6,02/11/2020 07:25:56 PM,Y,9,02/11/2020 07:26:09 PM,...,52.0,14.0,207.0,10.0,15.0,N,N,N,N,chunk166.csv
2,200434110,2020-02-12 21:36:52,UNC,2,UNC,2,02/12/2020 09:37:24 PM,Y,32,02/12/2020 09:38:27 PM,...,106.0,32.0,410.0,27.0,8.0,N,N,N,N,chunk166.csv
3,201610121,2020-06-09 00:52:30,DRUG,4,DRUG,4,06/09/2020 12:52:44 AM,Y,14,06/09/2020 12:52:59 AM,...,19.0,4.0,108.0,2.0,12.0,N,N,N,N,chunk171.csv
4,200034112,2020-01-03 20:44:05,DRUG,4,DRUG,4,01/03/2020 08:44:11 PM,Y,6,01/03/2020 08:44:17 PM,...,66.0,39.0,312.0,15.0,7.0,N,N,N,N,chunk165.csv
5,200530247,2020-02-22 01:26:18,DRUG,4,DRUG,4,02/22/2020 01:27:21 AM,Y,63,02/22/2020 01:27:41 AM,...,25.0,8.0,111.0,4.0,12.0,N,N,N,N,chunk167.csv
6,200543279,2020-02-23 19:08:27,UNC,2,UNC,2,02/23/2020 07:08:44 PM,Y,17,02/23/2020 07:09:16 PM,...,44.0,8.0,204.0,9.0,15.0,N,N,N,N,chunk167.csv

In [10]:
ems2020_excerpt_df.sample(10)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
7215,201742577,2020-06-22 15:20:30,UNKNOW,4,UNKNOW,4,06/22/2020 03:20:43 PM,Y,13,06/22/2020 03:20:54 PM,...,114.0,22.0,401.0,30.0,12.0,N,N,N,N,chunk172.csv
9656,201190890,2020-04-28 09:03:07,STATEP,2,STATEP,2,04/28/2020 09:03:17 AM,Y,10,04/28/2020 09:03:24 AM,...,109.0,20.0,407.0,25.0,6.0,N,N,N,N,chunk170.csv
6682,201220389,2020-05-01 03:42:02,EDP,7,EDP,7,05/01/2020 03:42:15 AM,Y,13,05/01/2020 03:42:36 AM,...,46.0,14.0,205.0,10.0,15.0,N,N,N,N,chunk170.csv
453,200862985,2020-03-26 12:12:39,ANAPH,2,ANAPH,2,03/26/2020 12:12:50 PM,Y,11,03/26/2020 12:13:11 PM,...,52.0,11.0,207.0,10.0,13.0,N,N,N,N,chunk168.csv
3393,200473669,2020-02-16 21:05:17,EDP,7,EDP,7,02/16/2020 09:05:23 PM,Y,6,02/16/2020 09:06:10 PM,...,81.0,41.0,303.0,16.0,8.0,N,N,N,N,chunk167.csv
877,200010171,2020-01-01 00:33:34,PD13,7,PD13,7,01/01/2020 12:34:25 AM,Y,51,01/01/2020 12:34:33 AM,...,67.0,42.0,317.0,18.0,8.0,N,N,N,N,chunk165.csv
6300,201663060,2020-06-14 20:09:06,ARREST,1,ARREST,1,06/14/2020 08:09:22 PM,Y,16,06/14/2020 08:09:40 PM,...,69.0,46.0,318.0,18.0,8.0,N,N,N,N,chunk171.csv
3051,201771223,2020-06-25 09:57:31,DRUG,4,DRUG,4,06/25/2020 09:57:38 AM,Y,7,06/25/2020 09:58:55 AM,...,75.0,37.0,305.0,19.0,7.0,N,N,N,N,chunk172.csv
6692,200453924,2020-02-14 21:03:48,INJURY,5,INJURY,5,02/14/2020 09:03:54 PM,Y,6,02/14/2020 09:04:11 PM,...,49.0,12.0,211.0,11.0,16.0,N,N,N,N,chunk167.csv
5757,200334155,2020-02-02 23:07:44,ARREST,1,ARREST,1,02/02/2020 11:08:00 PM,Y,16,02/02/2020 11:08:15 PM,...,23.0,8.0,111.0,4.0,13.0,N,N,N,N,chunk166.csv

In [11]:
ems2020_excerpt_df.tail(6)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
13111,200870168,2020-03-27 00:42:59,INJURY,5,INJURY,5,03/27/2020 12:43:13 AM,Y,14,03/27/2020 12:43:28 AM,...,109.0,19.0,407.0,25.0,3.0,N,N,N,N,chunk168.csv
13112,200393407,2020-02-08 19:49:33,DIFFBR,2,DIFFBR,2,02/08/2020 07:52:34 PM,Y,181,02/08/2020 07:53:00 PM,...,72.0,38.0,307.0,15.0,7.0,N,N,N,N,chunk166.csv
13113,200034618,2020-01-03 22:51:33,INJURY,5,INJURY,5,01/03/2020 10:51:39 PM,Y,6,01/03/2020 10:52:21 PM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk165.csv
13114,200424355,2020-02-11 21:51:09,SICK,6,SICK,6,02/11/2020 09:52:09 PM,Y,60,02/11/2020 09:52:18 PM,...,48.0,15.0,206.0,10.0,15.0,N,N,N,N,chunk166.csv
13115,201742708,2020-06-22 15:57:44,MVAINJ,4,MVAINJ,4,06/22/2020 03:58:07 PM,Y,23,06/22/2020 03:58:19 PM,...,62.0,47.0,311.0,21.0,11.0,N,N,N,N,chunk172.csv
13116,200865674,2020-03-26 19:33:19,DIFFFC,2,DIFFFC,2,03/26/2020 07:33:50 PM,Y,31,03/26/2020 07:34:08 PM,...,103.0,27.0,412.0,29.0,5.0,N,N,N,N,chunk168.csv

In [12]:
fianlcall_2245 = ems2020_excerpt_df["FINAL_CALL_TYPE"][2244]
fianlcall_2245

'STAB'

In [13]:
cbp_df = pd.read_excel("data_raw/multi-data.xlsx", sheet_name = "CBP")
cbp_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
95722,2018-06-02 13:00:00,2018-06-04 09:05:00,44.066667,15-18 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
95723,2018-06-02 13:00:00,2018-06-04 09:05:00,44.066667,12-14 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
95724,2018-06-02 13:05:00,2018-06-05 23:35:00,82.483333,6-8 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
95725,2018-06-02 13:05:00,2018-06-04 00:54:00,35.8,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
95726,2018-06-02 13:20:00,2018-06-06 07:27:00,90.1,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN

In [14]:
cbp_df1 = pd.read_excel("data_raw/multi-data.xlsx", sheet_name = "CBP", skiprows = 6)
cbp_df1

,date_in,date_out,hours_in_custody,age_group,gender,citizenship,border,sector,field_office
0,2017-01-20 00:10:00,2017-01-20 10:08:00,9.950000,6-8 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN
1,2017-01-20 00:15:00,2017-01-24 17:30:00,113.233333,3-5 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
2,2017-01-20 00:22:00,2017-01-24 17:47:00,113.416667,3-5 years,Female,BRAZIL,SBO,(b)(7)(E ),NaN
3,2017-01-20 00:30:00,2017-01-21 06:35:00,30.083333,12-14 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
4,2017-01-20 00:30:00,2017-01-21 13:03:00,36.533333,3-5 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
...,...,...,...,...,...,...,...,...,...
95716,2018-06-02 13:00:00,2018-06-04 09:05:00,44.066667,15-18 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
95717,2018-06-02 13:00:00,2018-06-04 09:05:00,44.066667,12-14 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
95718,2018-06-02 13:05:00,2018-06-05 23:35:00,82.483333,6-8 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
95719,2018-06-02 13:05:00,2018-06-04 00:54:00,35.800000,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
95720,2018-06-02 13:20:00,2018-06-06 07:27:00,90.100000,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN

In [15]:
cbp_df1.head(15)

,date_in,date_out,hours_in_custody,age_group,gender,citizenship,border,sector,field_office
0,2017-01-20 00:10:00,2017-01-20 10:08:00,9.950000,6-8 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN
1,2017-01-20 00:15:00,2017-01-24 17:30:00,113.233333,3-5 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
2,2017-01-20 00:22:00,2017-01-24 17:47:00,113.416667,3-5 years,Female,BRAZIL,SBO,(b)(7)(E ),NaN
3,2017-01-20 00:30:00,2017-01-21 06:35:00,30.083333,12-14 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
4,2017-01-20 00:30:00,2017-01-21 13:03:00,36.533333,3-5 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
5,2017-01-20 00:30:00,2017-01-21 15:30:00,38.983333,Under 1 year,Male,HONDURAS,SBO,(b)(7)(E ),NaN
6,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
7,2017-01-20 00:35:00,2017-01-20 15:14:00,14.633333,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
8,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,3-5 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
9,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,9-11 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
10,2017-01-20 00:45:00,2017-01-20 13:15:00,12.500000,15-18 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
11,2017-01-20 01:19:00,2017-01-21 02:30:00,25.166667,15-18 years,Male,INDIA,SBO,(b)(7)(E ),NaN
12,2017-01-20 01:19:00,2017-01-21 02:30:00,25.166667,15-18 years,Male,INDIA,SBO,(b)(7)(E ),NaN
13,2017-01-20 01:20:00,2017-01-24 17:30:00,112.166667,6-8 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
14,2017-01-20 01:20:00,2017-01-20 13:40:00,12.333333,9-11 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN

In [16]:
cbp_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95721 entries, 0 to 95720
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date_in           95721 non-null  datetime64[ns]
 1   date_out          95223 non-null  datetime64[ns]
 2   hours_in_custody  95506 non-null  float64
 3   age_group         95716 non-null  object
 4   gender            95721 non-null  object
 5   citizenship       95721 non-null  object
 6   border            95721 non-null  object
 7   sector            95721 non-null  object
 8   field_office      0 non-null      float64
dtypes: datetime64[ns](2), float64(2), object(5)
memory usage: 6.6+ MB

In [17]:
cbp_df1.tail(3)

,date_in,date_out,hours_in_custody,age_group,gender,citizenship,border,sector,field_office
95718,2018-06-02 13:05:00,2018-06-05 23:35:00,82.483333,6-8 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
95719,2018-06-02 13:05:00,2018-06-04 00:54:00,35.800000,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
95720,2018-06-02 13:20:00,2018-06-06 07:27:00,90.100000,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN

In [18]:
cbp_df1.sample(20)

,date_in,date_out,hours_in_custody,age_group,gender,citizenship,border,sector,field_office
80190,2018-04-21 00:15:00,2018-04-25 14:01:00,109.750000,Under 1 year,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
93299,2018-05-26 21:25:00,2018-05-29 13:30:00,64.066667,15-18 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
12682,2017-05-29 22:45:00,2017-05-30 13:12:00,14.433333,15-18 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN
10044,2017-04-24 13:45:00,2017-04-25 14:10:00,24.150000,6-8 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN
19136,2017-07-23 08:45:00,2017-07-24 11:57:00,27.183333,15-18 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
89812,2018-05-18 14:50:00,2018-05-20 17:03:00,50.200000,12-14 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
11084,2017-05-09 17:26:00,2017-05-10 08:06:00,14.650000,15-18 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
26559,2017-09-04 18:46:00,2017-09-06 00:41:00,29.900000,15-18 years,Male,INDIA,SBO,(b)(7)(E ),NaN
22299,2017-08-12 16:55:00,2017-08-14 15:27:00,46.500000,6-8 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
28400,2017-09-14 11:10:00,2017-09-17 14:24:00,75.216667,9-11 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
51410,2017-12-23 22:01:00,2017-12-25 10:33:00,36.516667,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
93502,2018-05-27 16:50:00,2018-06-02 03:36:00,130.750000,6-8 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN
35494,2017-10-25 10:15:00,2017-10-27 15:26:00,53.166667,1-2 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
1701,2017-01-24 21:20:00,2017-01-26 18:03:00,44.700000,12-14 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
88593,2018-05-15 00:45:00,2018-05-17 09:41:00,56.916667,15-18 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN
61038,2018-02-08 23:35:00,2018-02-09 22:29:00,22.883333,15-18 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
803,2017-01-21 20:49:00,2017-01-24 13:54:00,65.083333,15-18 years,Female,ECUADOR,SBO,(b)(7)(E ),NaN
12060,2017-05-23 01:12:00,2017-05-23 09:59:00,8.783333,15-18 years,Male,MEXICO,SBO,(b)(7)(E ),NaN
51982,2017-12-26 17:50:00,2017-12-27 13:38:00,19.783333,9-11 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
65461,2018-03-01 14:40:00,2018-03-02 10:15:00,19.583333,12-14 years,Female,MEXICO,SBO,(b)(7)(E ),NaN

In [19]:
cbp_df1["hours_in_custody"]

0          9.950000
1        113.233333
2        113.416667
3         30.083333
4         36.533333
            ...
95716     44.066667
95717     44.066667
95718     82.483333
95719     35.800000
95720     90.100000
Name: hours_in_custody, Length: 95721, dtype: float64

In [20]:
cbp_df1["hours_in_custody"].unique()

array([  9.95      , 113.23333333, 113.41666667, ..., 100.18333333,
       126.28333333, 118.66666667])

In [21]:
cbp_df1["hours_in_custody"].nunique()

8293

In [45]:
hours_in_custody_8 = cbp_df1["hours_in_custody"][7]
hours_in_custody_8

14.6333333333333